.Project {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: green;
    border-width: 2px;
    width: 30%;
    height: 20vw;
    border-radius: 15px;
    justify-content: space-evenly;
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}